<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dorukaneskiceri.dailyathon">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.dorukaneskiceri.dailyathon.activity.MapsActivityPharmacy"
            android:label="@string/title_activity_maps_pharmacy"></activity>
        <activity android:name="com.dorukaneskiceri.dailyathon.login_signup.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.dorukaneskiceri.dailyathon.activity.FunActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.dorukaneskiceri.dailyathon.activity.MainAppActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.dorukaneskiceri.dailyathon.login_signup.LoginActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.dorukaneskiceri.dailyathon.login_signup.SignUpActivity"
            android:screenOrientation="portrait">

            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value=".LoginSignUpActivity" /> -->
        </activity>
        <activity android:name="com.dorukaneskiceri.dailyathon.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>